* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(33, 33, 68);
}

.root {
	width: 100%;
	height: 100%;
}
